
.perfil{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    display: block;
    image-resolution: 1080px;
    image-rendering: optimizeQuality;
    animation: main-animation 1.2s ease-out forwards;

}   

@keyframes main-animation{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-15px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }

}